<!doctype html>
<html lang="en-US">

<head>
  <script>
  const theme = localStorage.getItem('theme');
  if (theme === "dark") {
  	document.documentElement.setAttribute('data-theme', 'dark');
  }
  </script>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>{{ page.title }} @ NGDL</title>

  <meta name="author" content="ngdl" />
  <meta name="keywords" content="life sciences, economics, technology, innovation, finance">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.url }}" />
  {% if page.categories contains 'blog' %}
    <meta property="og:type" content="article" />
  {% endif %}
  {% if page.summary %}
    <meta property="og:description" content="{{ page.summary }}" />
  {% endif %}

  <link href='/style.css' rel='stylesheet' type='text/css' />
</head>

<body>
<ul class="menu">
  <li><a class="menu_item" href="/">Notes</a></li>
  <li>|</li>
  <li><a class="menu_item" href="/about/">About</a></li>
  <li style="float:right;margin:4px 10px;"><img onclick="modeSwitcher()" id="theme-toggle" style="width:20px; height:20px;">
</ul>

<div class="page {{ page.class }}">
{{ content }}
</div>

<script>
const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');

if (theme === "dark") {
  document.getElementById("theme-toggle").src = "/assets/icons/darkmode-white.png";
} else if (theme === "light") {
  document.getElementById("theme-toggle").src = "/assets/icons/darkmode-black.png";
} else if  (userPrefers === "dark") {
	document.documentElement.setAttribute('data-theme', 'dark');
	window.localStorage.setItem('theme', 'dark');
  document.getElementById("theme-toggle").src = "/assets/icons/darkmode-white.png";
} else {
	document.documentElement.setAttribute('data-theme', 'light');
	window.localStorage.setItem('theme', 'light');
  document.getElementById("theme-toggle").src = "/assets/icons/darkmode-black.png";
}

function modeSwitcher() {
	let currentMode = document.documentElement.getAttribute('data-theme');
	if (currentMode === "dark") {
		document.documentElement.setAttribute('data-theme', 'light');
		window.localStorage.setItem('theme', 'light');
    document.getElementById("theme-toggle").src = "/assets/icons/darkmode-black.png";
	} else {
		document.documentElement.setAttribute('data-theme', 'dark');
		window.localStorage.setItem('theme', 'dark');
    document.getElementById("theme-toggle").src = "/assets/icons/darkmode-white.png";
	}
};
</script>
</body>
</html>
